<div class="d-flex flex-column h-100">
    <section class="hero text-white py-5 flex-grow-1">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4">Battle Live</h1>
                    <p class="fst-italic text-muted">The only place to satisfy your rhyme fix. - Pre Malone</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">BattleLive</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>