<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-family: 'Akronim', cursive; color: rgb(255, 121, 198); font-size: 2.5em;">BattleLive Redux</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
          <% if (!authenticatedUser) { %> 
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/register">Register</a>
            </li>
          <% } %> 
          <% if (authenticatedUser) { %> 
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Room Options</a>
              <div class="dropdown-menu">
                <% if (!authenticatedUserRoomId) { %> 
                  <a class="dropdown-item" href="/rooms/create">Create</a>
                <% } %> 
                <% if (authenticatedUserRoomId) { %> 
                  <a class="dropdown-item" href="/rooms/<%= authenticatedUserRoomId %>/edit">Edit</a>
                  <a class="dropdown-item" href="/rooms/<%= authenticatedUserRoomId %>/delete">Delete</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/rooms/<%= authenticatedUserRoomId %>/rapRoom">View Your Room</a>
                <% } %> 
              </div>
            </li>
          <% } %> 
      </ul>
    </div>
  </div>
</nav>