<% layout('layouts/boilerplate') %> 

<form action="/rooms/create" method="POST" class="col-lg-6 offset-lg-3">

    <ul>
        <% if (messages.success_msg) {%> 
            <li><%= messages.success_msg %></li>
        <% } %> 
    </ul>

    <ul>
        <% if (messages.error) {%> 
            <li><%= messages.error %></li>
        <% } %> 
    </ul>

    <h1>Create Room</h1> 
    <div class="form-floating mb-3">
        <input type="text" name="description" class="form-control" id="floatingInput" placeholder="This room is really ..." required>
        <label for="floatingInput">Describe Your Room</label>
    </div>

    <span>
        <input type="submit" value="Create Room" class="btn btn-success btn-lg"> 
    </span>
</form>