<% layout('layouts/boilerplate') %> 

<form action="/rooms/<%= room.id %>/edit?_method=PUT" method="POST" class="col-lg-6 offset-lg-3">
    <h1>Edit Room</h1> 
    <div class="form-floating mb-3">
        <input type="text" name="description" class="form-control" id="floatingInput" placeholder="This room is really ..." required>
        <label for="floatingInput"><%= room.description %></label>
    </div>

    <span>
        <input type="submit" value="Edit Room" class="btn btn-warning btn-lg"> 
    </span>
</form>