<% layout('layouts/rapRoom') %> 
<h1>Welcome to <%= owner.toUpperCase() %>'s  Room</h1> 
<h2>Description: <%= room.description %> </h2> 

<h2 id="timer" class="text-danger">[Timer]|[Name]|[Time] </h2> 

<h3 id="rapper-vs-rapper"></h3>

<div class="container">
  <div class="row">
    <div class="">
        <div id="videos" class="video-container">
            <div id="videoDiv">
              <video id="localVideo" class="vid" autoplay muted></video>
              <p>(YOU) <%= authenticatedUser.username %></p>
            </div>
        </div>
        <div id="button-div"style="display:block" class="m-2 p-10">
            <button id="muteButton" class="btn btn-danger">Unmuted</button>
            <button id="vidButton" class="btn btn-danger">Video Enabled</button>
            <button id="addUserToQueue" class="btn btn-light">Join Queue</button>
        </div>
    </div>
    <div class="position-relative">
        <div class="card border-info mb-3">
          <div class="card-body ">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
              <label id="chatUserListText" class="form-check-label" for="flexSwitchCheckChecked">Chat</label>
            </div>

            <div id="scroll-div-chat" class="overflow-auto">
                <ul id="messages" class="text-info"></ul>
                <div id="user-list" class="text-info"></div>
            </div>
            <form id="form" action="">
                <input id="input" autocomplete="off" required/>
                <button>Send</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
