<% layout('layouts/rapRoom') %> 
<h1>Welcome to <%= owner.toUpperCase() %>'s  Room</h1> 
<h2>Description: <%= room.description %> </h2> 
<h2 id="winnerHeading" class="text-success" >Winner: _</h2> 

<h2 id="timer" class="text-danger">Timer: [Pending] </h2> 

<h3 id="rapper-vs-rapper">_ vs _</h3>

<div class="container">
  <div class="row">
    <div class="">
        <div id="videos" class="video-container">
            <div id="videoDiv">
              <video id="localVideo" class="vid" autoplay muted></video>
              <p>(YOU) <%= authenticatedUser.username %></p>
            </div>
        </div>
        <div id="button-div"style="display:block" class="m-2 p-10">
            <!-- <button id="muteButton" class="btn btn-danger">Unmuted</button> -->
            <!-- <button id="vidButton" class="btn btn-danger">Video Enabled</button> -->
            <button id="muteButton" class=""></button>
            <button id="vidButton" class=""></button>
            <button id="addUserToQueue" class="btn btn-light">Join Queue</button>
            <!-- Button trigger modal -->
            <button id="voteButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Vote</button>
            <button id="copyRoomLinkButton" class="btn btn-secondary">Copy Room Link</button>
        </div>
    </div>
    <div class="position-relative">
        <div class="card border-info mb-3">
          <div class="card-body ">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
              <label id="chatUserListText" class="form-check-label" for="flexSwitchCheckChecked">Chat</label>
            </div>

            <div id="scroll-div-chat" class="overflow-auto">
                <ul id="messages" class="text-info"></ul>
                <div id="user-list" class="text-info"></div>
            </div>
            <form id="form" action="">
                <input id="input" autocomplete="off" required/>
                <button>Send</button>
            </form>
          </div>
        </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cast Your Vote</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-md-7 mx-auto">
            <button id="rapper1VoteButton" class="btn btn-info btn-lg m-3" data-bs-dismiss="modal">Rapper1</button>
            <button id="rapper2VoteButton" class="btn btn-info btn-lg m-3" data-bs-dismiss="modal">Rapper2</button>
            <br>
            <p id="voted-p">Voted!</p>
          </div>
        </div>
        <div class="modal-footer">
            <button id="cancelVoteButton" class="btn btn-warning btn-lg m-3" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
