<% layout('layouts/rapRoom') %> 
<h1>Welcome to <%= owner.toUpperCase() %>'s  Room</h1> 
<h2>Description: <%= room.description %> </h2> 

<div class="container">
  <div class="row">
    <div class="col-7">
        <div id="videos" class="video-container">
            <video id="localVideo" class="vid" autoplay muted></video>
        </div>
        <br />
        <div style="display:block">
            <button id="switchButton" class="settings" onclick="switchMedia()">Switch Camera</button>
            <button id="muteButton" class="settings" onclick="toggleMute()">Unmuted</button>
            <button id="vidButton" class="settings" onclick="toggleVid()">Video Enabled</button>
        </div>
    </div>
    <div class="col-5">
        <div class="card border-info mb-3">

          <div class="card-body">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
              <label id="chatUserListText" class="form-check-label" for="flexSwitchCheckChecked">Chat</label>
            </div>

            <div id="scroll-div-chat" class="overflow-auto" style="width: 100%; height: 500px;">
                <ul id="messages" class="text-info"></ul>
                <div id="user-list" class="text-info"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<form id="form" action="">
    <input id="input" autocomplete="off" required/>
    <button>Send</button>
</form>