<% layout('layouts/boilerplate') %> 
<h1>Welcome <%= authenticatedUser.username.toUpperCase() %> </h1> 

<h2 class="text-success">BattleLive: Like chess.com but for rap battles</h2>

<h3 class="text-info">* You can create, edit, or delete a room using the navbar room options menu. </h3>
<h3 class="text-info">* You can also join an existing room by going to its url or typing the room # in the navbar search.</h3>

<!-- Button trigger modal -->
<button id="warningCameraModal" type="button" class="btn btn-primary invisible" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Important!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please be aware that when you join a room your camera is being used but NOT displayed. </p>
        <p>If you are in queue please be mindful of your camera since you may be chosen at any moment.</p>
        <p>Thank you! :)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I understand</button>
      </div>
    </div>
  </div>
</div>


<script>
    document.getElementById("warningCameraModal").click();
    document.getElementById("warningCameraModal").style.display = "none";
</script>