<% layout('layouts/boilerplate') %> 
<h1>Welcome <%= user.charAt(0).toUpperCase() + user.slice(1) %> </h1> 

<ul>
    <% if (messages.success_msg) {%> 
        <li><%= messages.success_msg %></li>
    <% } %> 
</ul>

<ul>
    <% if (messages.error) {%> 
        <li><%= messages.error %></li>
    <% } %> 
</ul>