<% layout('layouts/boilerplate') %> 
<h1 style="position: absolute;
    font-family: 'Akronim', cursive;
    color: rgb(255, 121, 198);
    opacity: 0.7;
    font-size: 200px;
    text-align: center;
    margin-top: 1em;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);" id="battlelive-logo">Battle Live</h1> 

<img src="https://cdna.artstation.com/p/assets/images/images/027/037/960/large/nicolas-leguebe-112-chill-x.jpg?1590422755" alt="Rap Album style picture of stormtroopers" style="width: 30%; opacity: 1; border-radius: 45%;">
<img src="https://64.media.tumblr.com/f5c7db423d2d266a756a859b9e2d5d3b/2e1dbf011e292e1a-e4/s1280x1920/b25f661d5e7799ca6200f1371a7091b5b706fb69.gifv" alt="Lower Rider Gif" style="width: 35%; opacity: 1; border-radius: 45%;">
<img src="https://i1.sndcdn.com/avatars-000268171509-u56wox-t240x240.jpg" alt="Rap Album style picture of stormtroopers" style="width: 30%; opacity: 1; border-radius: 45%;">