<% layout('layouts/boilerplate') %> 

<form action="/users/login" method="POST" class="col-lg-6 offset-lg-3">

    <ul>
        <% if (messages.success_msg) {%> 
            <li><%= messages.success_msg %></li> </li>
        <% } %> 
    </ul>

    <ul>
        <% if (messages.error) {%> 
            <li><%= messages.error %></li>
        <% } %> 
    </ul>

    <h1>Login</h1> 
    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <span class="">
        <input type="submit" value="Login" class="btn btn-success btn-lg"> 
    </span>

    <span class="">
        <button type="button" class="btn btn-info btn-lg" onclick="location.href='/users/register'">Create an account!</button>
    </span>
</form>